HELP.md
.gradle
.slice
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.DS_Store
manifests/secret.yaml

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.env
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/


# Temporary files
/logs/